*{
    padding:0;
    box-sizing: content-box;
}
body{
    margin: 0;
}

@font-face {
    font-family: "PoorStory";
    src: local("Trickster"),
    url("./assets/PoorStory-Regular.ttf") format("truetype");
    }
/* 
.test-class5{
    color: rgb(18, 178, 114);
    font-size: 20px;
    text-align: center;
    text-shadow: 5px 10px 10px pink;
    font-family: "PoorStory";

    background-color: lightblue;
    border: 5px solid purple;
    padding: 10px;
    margin: 50px;
    max-width: 300px;
    height: 100px;
    max-height: 300px;
    box-shadow: 10px 5px 10px pink;
    cursor:grab;
    transition: .5s;
    }

.test-class5:hover{
    background-color: darkblue;
} */


.test-class5{

}